In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\jnoot\anaconda3\lib\site-packages\scipy\__init__.py:177: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df_car=pd.read_csv(r"F:\Data Science\UST - ML Job\vehicles.csv")

In [3]:
df_car

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [4]:
df_car.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [5]:
df_car.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [6]:
df_car.drop(columns=['county','url','id','image_url','region_url','description','posting_date'],axis=1,inplace=True)

In [7]:
'''
As our focus is on finding factors affecting the car price, lets not get into EDA or handling missing values
# remove null values
# label encode categorical features
# use selectkbest and chi squared to find factors and features affecting car price
# write features affecting and 1-2 line description
'''

'\nAs our focus is on finding factors affecting the car price, lets not get into EDA or handling missing values\n# remove null values\n# label encode categorical features\n# use selectkbest and chi squared to find factors and features affecting car price\n# write features affecting and 1-2 line description\n'

In [8]:
df_car.dropna(inplace=True)

In [9]:
df_car.isnull().sum()

region          0
price           0
year            0
manufacturer    0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
title_status    0
transmission    0
VIN             0
drive           0
size            0
type            0
paint_color     0
state           0
lat             0
long            0
dtype: int64

In [10]:
numercial_columns=[i for i in df_car.columns if df_car[i].dtypes!='object']
numercial_columns

['price', 'year', 'odometer', 'lat', 'long']

In [11]:
Categorical_columns=[i for i in df_car.columns if df_car[i].dtypes=='object']
Categorical_columns

['region',
 'manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'title_status',
 'transmission',
 'VIN',
 'drive',
 'size',
 'type',
 'paint_color',
 'state']

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [13]:
def label_encoder_columns(columns,df):
    for column in df:
        if df[column].dtypes=='object':
            df[column]=label_encoder.fit_transform(df[column])

In [14]:
label_encoder_columns

In [15]:
label_encoder_columns(Categorical_columns,df_car)

In [16]:
df_car

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state,lat,long
126,16,0,2018.0,7,1975,3,5,2,68472.0,0,0,6481,2,1,11,10,1,31.425091,-85.617723
127,16,0,2019.0,7,1975,3,5,2,69125.0,0,0,6478,2,1,11,10,1,31.425091,-85.617723
128,16,0,2018.0,7,1975,3,5,2,66555.0,0,0,6482,2,1,11,10,1,31.425091,-85.617723
215,29,4000,2002.0,38,1644,0,3,2,155000.0,0,0,18039,1,0,9,1,1,33.913500,-84.685900
219,29,2500,1995.0,4,395,1,5,2,110661.0,0,0,20506,2,2,9,10,1,33.353800,-86.825400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426788,385,12995,2016.0,7,1397,3,3,2,61127.0,0,0,4775,1,0,9,9,50,45.781300,-108.572700
426792,385,32999,2014.0,13,2289,0,6,0,154642.0,0,0,3228,0,1,8,2,50,41.138284,-104.784799
426793,385,15999,2018.0,7,1407,0,3,2,36465.0,0,0,4795,1,2,9,0,50,41.138284,-104.784799
426833,385,6800,1997.0,19,5034,2,6,2,69550.0,0,0,19786,2,0,2,10,50,43.642930,-108.222976
426836,385,0,2018.0,33,117,0,5,0,20492.0,0,0,11721,0,1,10,10,50,45.082436,-94.334686

In [17]:
from sklearn.feature_selection import VarianceThreshold
import numpy as np

# Generate some example data
X = df_car[numercial_columns]

# Apply variance thresholding
selector = VarianceThreshold(threshold=0.5)
X_new = selector.fit_transform(X)

print("Original data shape:", X.shape)
print("After variance thresholding:", X_new.shape)

Original data shape: (34785, 5)
After variance thresholding: (34785, 5)

In [18]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [19]:
Ordered_rank_features=SelectKBest(score_func=chi2,k=20)

In [20]:
df_car.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition',
       'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'VIN',
       'drive', 'size', 'type', 'paint_color', 'state', 'lat', 'long'],
      dtype='object')

In [21]:
price_mean = df_car[df_car['price'] > 0]['price'].mean()

In [22]:
df_car.loc[df_car['price'] == 0, 'price'] = price_mean

In [23]:
df_car[df_car['price']==0]

Empty DataFrame
Columns: [region, price, year, manufacturer, model, condition, cylinders, fuel, odometer, title_status, transmission, VIN, drive, size, type, paint_color, state, lat, long]
Index: []

In [24]:
df_car['price']

126       17002.37453
127       17002.37453
128       17002.37453
215        4000.00000
219        2500.00000
             ...
426788    12995.00000
426792    32999.00000
426793    15999.00000
426833     6800.00000
426836    17002.37453
Name: price, Length: 34785, dtype: float64

In [25]:
x=df_car.drop(columns=['price'])
y=df_car.price

In [26]:
x

,region,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,state,lat,long
126,16,2018.0,7,1975,3,5,2,68472.0,0,0,6481,2,1,11,10,1,31.425091,-85.617723
127,16,2019.0,7,1975,3,5,2,69125.0,0,0,6478,2,1,11,10,1,31.425091,-85.617723
128,16,2018.0,7,1975,3,5,2,66555.0,0,0,6482,2,1,11,10,1,31.425091,-85.617723
215,29,2002.0,38,1644,0,3,2,155000.0,0,0,18039,1,0,9,1,1,33.913500,-84.685900
219,29,1995.0,4,395,1,5,2,110661.0,0,0,20506,2,2,9,10,1,33.353800,-86.825400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426788,385,2016.0,7,1397,3,3,2,61127.0,0,0,4775,1,0,9,9,50,45.781300,-108.572700
426792,385,2014.0,13,2289,0,6,0,154642.0,0,0,3228,0,1,8,2,50,41.138284,-104.784799
426793,385,2018.0,7,1407,0,3,2,36465.0,0,0,4795,1,2,9,0,50,41.138284,-104.784799
426833,385,1997.0,19,5034,2,6,2,69550.0,0,0,19786,2,0,2,10,50,43.642930,-108.222976
426836,385,2018.0,33,117,0,5,0,20492.0,0,0,11721,0,1,10,10,50,45.082436,-94.334686

In [27]:
y

126       17002.37453
127       17002.37453
128       17002.37453
215        4000.00000
219        2500.00000
             ...
426788    12995.00000
426792    32999.00000
426793    15999.00000
426833     6800.00000
426836    17002.37453
Name: price, Length: 34785, dtype: float64

In [28]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [29]:
ordered_rank_features=SelectKBest(k=15)
ordered_feature=ordered_rank_features.fit(x,y)

In [30]:
ordered_feature.get_support()

array([False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False,  True,  True,  True,  True,  True])

In [31]:
dfscores=pd.DataFrame(ordered_feature.scores_,columns=["Score"])
dfcolumns=pd.DataFrame(x.columns)

In [32]:
features_rank=pd.concat([dfcolumns,dfscores],axis=1)

In [33]:
features_rank.columns=['Features','Score']
features_rank

        Features     Score
0         region  1.630074
1           year  5.607380
2   manufacturer  2.073909
3          model  2.379822
4      condition  3.262265
5      cylinders  3.698334
6           fuel  7.487776
7       odometer  8.564525
8   title_status  1.947415
9   transmission  5.318703
10           VIN  2.702206
11         drive  3.310220
12          size  2.061026
13          type  2.686438
14   paint_color  2.451361
15         state  2.502265
16           lat  3.971768
17          long  3.345490

### Top 15 features affecting the price and the score represents how strong it affects

In [34]:
features_rank.nlargest(15,'Score')

        Features     Score
7       odometer  8.564525
6           fuel  7.487776
1           year  5.607380
9   transmission  5.318703
16           lat  3.971768
5      cylinders  3.698334
17          long  3.345490
11         drive  3.310220
4      condition  3.262265
10           VIN  2.702206
13          type  2.686438
15         state  2.502265
14   paint_color  2.451361
3          model  2.379822
2   manufacturer  2.073909